<ion-view view-title="AD&I Knowledge Bites">
  <ion-content class="padding has-header">
 

  
<div data-role="page" id="about">
		<center>Welcome to ADI Knowledge Bite Mobile App</center><BR/>
		This app integrate with IBM Bluemix Server for<BR/>
		   1. Device Registration<BR/>
		   2. Sending Push Notification<BR/>
		   3. Storing User response over Bluemix Mobile Data<BR/>
<BR/>
<BR/>
		Instruction of use -<BR/>
		Registration: <BR/>
		   1. Registration of device with Basic details like email id, and name.<BR/>
		   2. Please enable internet connection while registration.<BR/>
		   3. Registration is required only once.<BR/>
		   4. In case of exception while registration, please follow displayed instruction.<BR/>
<BR/>
		Receiving Quiz: <BR/>
		   1. Please make sure notification is allowed by device for this app.<BR/>
		   2. Once you open the Quiz, you need to submit it, otherwise it will expire. So no screen flapping.<BR/>
		   3. If your device is not online, you will receive notification as soon as it become online on the same day.<BR/> 
		   4. You will also receive a note (general announcement) at the end of page. <BR/>
<BR/>
		Response to Quiz: <BR/>
		   1. Once you submit the quiz, it will store your response in Bluemix mobile data in encrypted format.<BR/>
		   2. You will see the correct answer immediately after you submit the quiz.<BR/>
<BR/>
<BR/>
<BR/>
		Design & Developed by - Sunil Vashisth <BR/>
		Conceptualized & Promote by - Ashis Panigrahi<BR/>
		Question Bank Managed by - Arindam Sanyal & Raman Goyal
		</div>
  </ion-content>
</ion-view>